{% extends "base.html" %}
{% block content %}

<h2 class="section-heading mb-5">
    <span class="section-heading-upper raleway">Add Cuisine</span>
</h2>

<div class="row">
    <form class="col" method="POST" action="{{ url_for('add_cuisine') }}">
        <!-- cuisine name -->
         <div class="row">
             <div class="col">
                 <label id="cuisine_name_label" for="cuisine_name">Cuisine Name</label>
                 <input id="cuisine_name" placeholder="Enter Cuisine" name="cuisine_name" minlength="3" maxlength="25" type="text"
                     class=" form-control validate" required>
             </div>
         </div>
        <!-- submit button -->
        <div class="row">
            <div class="col center-align">
                <button type="submit" class="btn" id="add-cuisine-btn">
                    Add Cuisine
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}