{% extends "base.html" %}
{% block content %}

<h2 class="section-heading mb-5">
    <span class="section-heading-upper raleway">Add Recipe</span>
</h2>

<div class="row">
    <form class="col" method="POST" action="{{ url_for('add_recipe') }}">
        <!-- recipe name -->
        <div class="row">
            <div class="col">
                <label for="recipe_name">Recipe Name</label>
                <input id="recipe_name" class="form-control validate" placeholder="Enter Name" name="recipe_name"
                minlength="3" maxlength="50" type="text" required>
            </div>
        </div>
        <!-- recipe description -->
        <div class="row">
            <div class="col">
                <label for="recipe_description">Recipe Description</label>
                <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="200"
                    type="text" required class="form-control" placeholder="Enter Description"></textarea>
            </div>
        </div>
        <!--recipe duration -->
        <div class="row">
            <div class="col">
                <label for="recipe_duration">Recipe Duration</label>
                <input id="recipe_duration" class="form-control" placeholder="Enter Duration" name="recipe_duration"
                minlength="1" maxlength="5" type="number" required>
            </div>
        </div>
        <!-- cuisine id -->
        <div class="row">
            <div class="col form-group">
                <label for="cuisine_id">Recipe Cuisine</label>
                <select id="cuisine_id" name="cuisine_id" class="form-control validate" required>
                    <option value="" disabled selected>Choose Cuisine</option>
                    {% for cuisine in cuisines %}
                        <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- is vegetarian -->
        <div class="row">
            <div class="col">
                <div class="switch">
                    <label for="is_vegetarian">
                        <input id="is_vegetarian" name="is_vegetarian" type="checkbox">
                        <span class="lever"></span>
                        Is Vegetarian
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col">
                <button type="submit" class="btn">
                    Add Recipe 
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}