{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Cuisine</h3>

<div class="row">
    <form class="col" method="POST" action="{{ url_for('edit_cuisine', cuisine_id=cuisine.id) }}">
        <!-- cuisine name -->
         <div class="row">
             <div class="col">
                 <label id="cuisine_name_label" for="cuisine_name">Cuisine Name</label>
                 <input id="cuisine_name" placeholder="Enter Cuisine" name="cuisine_name" minlength="3" maxlength="25" type="text"
                     class=" form-control" value="{{ cuisine.cuisine_name }}" required>
             </div>
         </div>
        <!-- submit button -->
        <div class="row">
            <div class="col center-align">
                <button type="submit" class="btn" id="add-cuisine-btn">
                    Edit Cuisine
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}