{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Recipe</h3>

<div>
    <form class="col" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
        <!-- recipe name -->
        <div class="row">
            <div class="col">
                <label for="recipe_name">Recipe Name</label>
                <input id="recipe_name" class="form-control" placeholder="Enter Name" 
                name="recipe_name" minlength="3" maxlength="50" type="text" required 
                value="{{ recipe.recipe_name }}">
            </div>
        </div>
        <!-- recipe description -->
        <div class="row">
            <div class="col">
                <label for="recipe_description">Recipe Description</label>
                <textarea id="recipe_description" name="recipe_description" minlength="5" 
                maxlength="200" required class="form-control" 
                placeholder="Enter Description">{{ recipe.recipe_description }}</textarea>
            </div>
        </div>
        <!--recipe duration -->
        <div class="row">
            <div class="col">
                <label for="recipe_duration">Recipe Duration</label>
                <input id="recipe_duration" class="form-control" placeholder="Enter Duration" 
                name="recipe_duration" type="number" required value="{{ recipe.recipe_duration }}">
            </div>
        </div>
        <!-- cuisine id -->
        <div class="row">
            <div class="col form-group">
                <label for="cuisine_id">Recipe Cuisine</label>
                <select id="cuisine_id" name="cuisine_id" class="form-control validate" required>
                    <option value="" disabled selected>Choose Cuisine</option>
                    {% for cuisine in cuisines %}
                        {% if cuisine == recipe.cuisine %}
                            <option value="{{ cuisine.id }}" selected>{{ cuisine.cuisine_name }}</option>
                        {% else %}
                            <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- is vegetarian -->
        <div class="row">
            <div class="col">
                <div class="switch">
                    <label for="is_vegetarian">Is Vegetarian</label>
                    {% if recipe.is_vegetarian == True %}
                        <input id="is_vegetarian" name="is_vegetarian" type="checkbox" checked>
                    {% else %}
                        <input id="is_vegetarian" name="is_vegetarian" type="checkbox">
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col">
                <button type="submit" class="btn">
                    Edit Recipe 
                </button>
            </div>
        </div>
    </form>
</div> 

{% endblock %}