{% extends "base.html" %}
{% block content %}

<h2 class="section-heading mb-5">
    <span class="section-heading-upper raleway">Here are the Recipes!</span>
</h2>

<div class="accordion" id="accordionExample">
    {% for recipe in recipes %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed raleway" type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapse{{ recipe.id }}" aria-expanded="false" aria-controls="collapse{{ recipe.id}}">
                {{ recipe.recipe_name }}
            </button>
        </h2>
        <div id="collapse{{ recipe.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p class="raleway">
                    Cuisine: {{recipe.cuisine}}
                </p>
                <p class="raleway">
                    Description: {{ recipe.recipe_description }}
                </p>
                <p class="raleway">
                    Cooking Time: {{ recipe.recipe_duration}}
                </p>
                {% if recipe.is_vegetarian == True %}
                    <p class="raleway">
                        This recipe is Vegetarian
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}